h2 {
    text-align: center;
    font-size: 4.3rem;
    height: 20rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: black;
    padding-top: 8rem;
    color: white;
}

.skills {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

h3 {
    font-size: 28px;
}

.skill {
    font-family: Arial, Helvetica, sans-serif;
    height: 16rem;
    width: 16rem;
    box-shadow: 2px 2px 2px 2px rgb(232, 232, 232);
    margin: 25px;
    padding: 20px;
    background-color: white;
    transition: ease 1s;
}

.skill:hover {
    transform: translate(0, -5px);
    box-shadow: 5px 5px 25px 5px rgb(145, 145, 145);
    transition: 0.5s;
}

p {
    padding-top: 10rem;
    font-family: 'Montserrat', sans-serif;
}